/* My WEB120 Portal Website Styles */

html {
    background-color:aliceblue;
}

div.wrapper {
    background-color:aqua;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:brown;
    margin: auto;
    
}

h2.pageID {
   text-align: left;
    padding-left: 20px;
}
h3 {
    padding-left: 20px;
}
p {
    padding-right: 20px;
    align-content:flex-end;
}

.logo {
    color:darkorange;
    margin-left:1px;
    text-shadow:1px 1px #000;
    font-size:1.25em;
}
div.rightaside {
    background-color:burlywood;
    color:blueviolet;
    height: 130%;
    margin: auto;
    padding: 10px;
    padding-left: 25px;
    
    
}
div.workscited {
    background-color:#00cccc;
    color: #000;
    height: 130%;
    margin: auto;
    padding: 10px;
    padding-left:25px;
text-indent: -2em; 
    
}
/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
}
/* Webcam */
div.dot iframe {
    border:0;
    width:300px;
    height:200px;
}
    
    
    
}

/* HIDE AGENDA VIEW CALENDAR - place this in your global rules */


/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   div.wrapper {
		width:40%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
	}
	
     aside {	
		width:34%;
		float:right;
	}
			
	
    img.desktop {
      		 float:left;
       		width:50%;
   	 }
    
    img.tablet, img.phone {
       		 display:contents;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color:deeppink;
        	color:#fff;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:19%;
		float:right;
        margin-right: 7%;
        
	}
    
  
	
            img.tablet {
       		width: 100%;
           }
    
           img.phone, img.desktop {
        		display:none;
           } 
    
    /* Change background color of navigation on selected page */
           ul.topnav li a.selected {
        		background-color: #ccc;
        		color:#000;
          }
    
  }


/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:100%;
    }
    
    img.tablet, img.desktop {
        		display:none;
    }  
    /* Show Agenda View Calendar */
    div.embed-container.agenda-view {
        display:block;
    }
    /* Hide Month View Calendar */
    div.embed-container.month-view {
        display:none;
    }
}

/* START - EMBED RESPONSIVELY STYLES */
 .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END - EMBED RESPONSIVELY STYLES */